-meta title: 'О винодельне'

.aboutInnerWrapper
  %a.toUppaWinery{:href => "#"} uppa winery
  %h2.headerCommon Добро пожаловать в Uppa!
  %p.descriptionCommon Рады приветствовать Вас на официальном сайте UPPA winery! Наша винодельня — небольшое хозяйство, дружная семья и команда единомышленников.
  %p.descriptionCommon Команда UPPA winery сегодня — специалисты, преображающие образ крымского вина в сознании ценителей. На нашем хозяйстве используются исключительные методы виноделия и виноградарства, сочетающие в себе уважение к природе и внимание к мелочам.
  %p.descriptionCommon Наши вина — истинное выражение уникального севастопольского терруара.
  .aboutButtonsWrapper
    %a{:href => "/wines"}
      .goToCatalog.aboutButton
        перейти в каталог вин
        .arrowSmallRight
    %a{:href => "/terra"}
      .goToTerroir.aboutButton
        терруар
        .arrowSmallRight
  %h2.headerCommon Наша история
  %p.descriptionCommon Предприятие было основано в 2007 году Павлом Швецом, человеком по-настоящему влюбленным в вино, имеющим 15-летний опыт работы сомелье в Москве, победителем многих конкурсов, ресторатором. Цель – вернуться в родные края и создать уникальное вино, обладающее своим характером, максимально терруарное. «Уппа» в переводе с татарского означает «мать». В то же время это и название небольшой речушки, протекающей рядом с селом Родное, что находится километрах в 20 от Севастополя (по направлению к Ялте)
  .slickContainer
    %button#leftArrow.leftArrow.sliderArrow
    #slick-gallery.uppa-slick-theme
      %div
        = image_tag("about/pavelInBushes.jpg", alt: "Павел Швец")
        .slickTextContainer
          %h3 Павел Швец
          %p Основатель винодельни
      %div
        = image_tag("about/tractor.jpg", alt: "Трактор в винограднике")
        .slickTextContainer
          %h3 Сбор урожая
          %p Виноградник Cler Numullite
      %div
        = image_tag("about/seaOfGreen.jpg", alt: "Море зелени")
        .slickTextContainer
          %h3 Осенью
          %p Виноградник Cler Numullite
      %div
        = image_tag("about/grapeOnBranch.jpg", alt: "Гроздь винограда")
        .slickTextContainer
          %h3 Cabernet Sauvignon
          %p Виноградник Cler Numullite
    %button#rightArrow.rightArrow.sliderArrow
  %p.descriptionCommon Располагается хозяйство на 16 га земли (под виноградниками на сегодняшний день 10 га) на южном склоне горы Зыбук-Тепе на высоте 450-480 м над уровнем моря в 2 км к северу от с. Родное. Это живописное тихое место выбрано не случайно. Высокие склоны холмов Чернореченской долины, особенно их южная и юго-восточная экспозиции одни из лучших мест для создания свежих многогранных элегантных и тонких вин с большим потенциалом к вызреванию. Саженцы для хозяйства выращены в одном из лучших французских питомников Gouillaume в Бургундии. Для каждого участка виноградника подбирались конкретные клоны привоев и подвоев. Сегодня у нас 12 сортов винограда. С самого первого дня мы используем исключительно биодинамические методы, ставим большое количество экспериментов, находимся в постоянном поиске и не останавливаемся на достигнутом.
  %a.technologyButton{:href => "/technology"}
    .aboutTechnology
      о технологии
      .arrowSmallRight
  .mapContainerAbout
    #mapAbout
    %p Крымский полуостров
    %p г. Севастополь
  .footerAbout
    %p.UPPA © UPPA by Pavel Shvets
    %a.ourName{:href => "http://redobureau.com"} сделано в redo
:javascript
  function initMap() {
      var uluru = {lat: 44.561053, lng: 33.752712};
      var map = new google.maps.Map(document.getElementById('mapAbout'), {
          zoom: 9,
          center: uluru,
          disableDefaultUI: true,
          styles: [
              {
                  "featureType": "all",
                  "elementType": "geometry.fill",
                  "stylers": [
                      {
                          "saturation": "1"
                      }
                  ]
              },
              {
                  "featureType": "all",
                  "elementType": "labels.text.fill",
                  "stylers": [
                      {
                          "saturation": 36
                      },
                      {
                          "color": "#333333"
                      },
                      {
                          "lightness": 40
                      }
                  ]
              },
              {
                  "featureType": "all",
                  "elementType": "labels.text.stroke",
                  "stylers": [
                      {
                          "visibility": "on"
                      },
                      {
                          "color": "#ffffff"
                      },
                      {
                          "lightness": 16
                      }
                  ]
              },
              {
                  "featureType": "all",
                  "elementType": "labels.icon",
                  "stylers": [
                      {
                          "visibility": "off"
                      }
                  ]
              },
              {
                  "featureType": "administrative",
                  "elementType": "geometry.fill",
                  "stylers": [
                      {
                          "color": "#fefefe"
                      },
                      {
                          "lightness": 20
                      }
                  ]
              },
              {
                  "featureType": "administrative",
                  "elementType": "geometry.stroke",
                  "stylers": [
                      {
                          "lightness": "63"
                      },
                      {
                          "weight": "2.11"
                      },
                      {
                          "gamma": "1.67"
                      }
                  ]
              },
              {
                  "featureType": "administrative",
                  "elementType": "labels",
                  "stylers": [
                      {
                          "saturation": "-100"
                      },
                      {
                          "gamma": "0.76"
                      }
                  ]
              },
              {
                  "featureType": "administrative",
                  "elementType": "labels.text.fill",
                  "stylers": [
                      {
                          "lightness": "-11"
                      }
                  ]
              },
              {
                  "featureType": "landscape",
                  "elementType": "geometry",
                  "stylers": [
                      {
                          "color": "#ffffff"
                      },
                      {
                          "lightness": 20
                      }
                  ]
              },
              {
                  "featureType": "landscape.natural.landcover",
                  "elementType": "geometry",
                  "stylers": [
                      {
                          "gamma": "1.09"
                      }
                  ]
              },
              {
                  "featureType": "landscape.natural.terrain",
                  "elementType": "all",
                  "stylers": [
                      {
                          "visibility": "off"
                      }
                  ]
              },
              {
                  "featureType": "poi",
                  "elementType": "geometry",
                  "stylers": [
                      {
                          "color": "#f5f5f5"
                      },
                      {
                          "lightness": 21
                      }
                  ]
              },
              {
                  "featureType": "poi.park",
                  "elementType": "geometry",
                  "stylers": [
                      {
                          "lightness": 21
                      }
                  ]
              },
              {
                  "featureType": "road.highway",
                  "elementType": "geometry.fill",
                  "stylers": [
                      {
                          "lightness": 17
                      },
                      {
                          "color": "#f0f0f0"
                      }
                  ]
              },
              {
                  "featureType": "road.highway",
                  "elementType": "geometry.stroke",
                  "stylers": [
                      {
                          "color": "#ffffff"
                      },
                      {
                          "lightness": 29
                      },
                      {
                          "weight": 0.2
                      }
                  ]
              },
              {
                  "featureType": "road.arterial",
                  "elementType": "geometry",
                  "stylers": [
                      {
                          "color": "#f0f0f0"
                      },
                      {
                          "lightness": 18
                      }
                  ]
              },
              {
                  "featureType": "road.local",
                  "elementType": "geometry",
                  "stylers": [
                      {
                          "color": "#f0f0f0"
                      },
                      {
                          "lightness": 16
                      }
                  ]
              },
              {
                  "featureType": "transit",
                  "elementType": "geometry",
                  "stylers": [
                      {
                          "lightness": 19
                      },
                      {
                          "visibility": "on"
                      }
                  ]
              },
              {
                  "featureType": "water",
                  "elementType": "all",
                  "stylers": [
                      {
                          "saturation": "1"
                      }
                  ]
              },
              {
                  "featureType": "water",
                  "elementType": "geometry",
                  "stylers": [
                      {
                          "color": "#e9e9e9"
                      },
                      {
                          "lightness": 17
                      }
                  ]
              },
              {
                  "featureType": "water",
                  "elementType": "geometry.fill",
                  "stylers": [
                      {
                          "color": "#ddd8d1"
                      }
                  ]
              }
          ]

      });
      var marker = new google.maps.Marker({
          position: uluru,
          map: map,
          icon: "#{asset_path("pin.svg")}"
      });
  }
%script{:async => "", :defer => "defer", :src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyDiWuSqsU6uDx8GcLWS_gjQkDrV1JYiHT8&callback=initMap"}
  :cdata
