<% meta title: t('menu.club') %>

<div class="clubOuterWrapper">
    <div id="/scrollObject" class="clubInnerWrapper">
        <a href="#" class="toUppaClub"><%= t('menu.club') %></a>

        <h2 class="headerCommon"><%= t('static.club.enter') %></h2>

        <p class="descriptionCommon"><%= t('static.club.descriptionCommon_1') %></p>

        <div class="grapeBerriesPicture"></div>

        <div class="titleCommon possibilities"><%= t('static.club.what_to_know') %></div>

        <ol>
            <li><%= t('static.club.know_li_1') %></li>
            <li><%= t('static.club.know_li_2') %></li>
            <li><%= t('static.club.know_li_3') %></li>
            <li><%= t('static.club.know_li_4') %></li>
            <li><%= t('static.club.know_li_5') %></li>
        </ol>

        <div class="titleCommon welcomeToUppa"> <%= t('static.club.welcome') %> </div>

        <a href="anketa.pdf", download="anketa"><div class="downloadForm"> <%= t('static.club.download') %><div class="arrowSmallRight"></div></div></a>

        <div class="footerClub">
            <p class="UPPA">© UPPA by Pavel Shvets</p>
            <a href="http://redobureau.com" class="ourName">сделано в redo</a>
        </div>

    </div>

    <div id="/fakeScrollArea" class="grapeBerriesBig"></div>
</div>