<% meta title: t('static.technology.to_technology') %>

<div class="technologyOuterWrapper">
    <div id="/scrollObject" class="technologyInnerWrapper">
    <a href="#" class="toTechnology"><%= t('static.technology.to_technology') %></a>

        <div class="headerCommon"><%= t('static.technology.headerCommon') %></div>

        <p class="descriptionCommon"><%= t('static.technology.descriptionCommon_1') %></p>
        <p class="descriptionCommon"><%= t('static.technology.descriptionCommon_2') %></p>

        <div class="grapePicture"></div>

        <div class="titleCommon"><%= t('static.technology.what_we_use') %></div>
        <ul class="Using">
            <li><%= t('static.technology.li_1') %> </li>
            <li><%= t('static.technology.li_2') %></li>
            <li><%= t('static.technology.li_3') %></li>
            <li><%= t('static.technology.li_4') %></li>
            <li><%= t('static.technology.li_5') %></li>
            <li><%= t('static.technology.li_6') %></li>
            <li><%= t('static.technology.li_7') %></li>
            <li><%= t('static.technology.li_8') %></li>
            <li><%= t('static.technology.li_9') %></li>
        </ul>

        <div class="titleCommon notUsing"><%= t('static.technology.what_we_dont_use') %></div>
        <ul>
            <li><%= t('static.technology.li_10') %></li>
            <li><%= t('static.technology.li_11') %></li>
            <li><%= t('static.technology.li_12') %></li>
            <li><%= t('static.technology.li_13') %></li>
            <li><%= t('static.technology.li_14') %></li>
            <li><%= t('static.technology.li_15') %></li>
            <li><%= t('static.technology.li_16') %></li>
            <li><%= t('static.technology.li_17') %></li>
        </ul>

        <div class="wannaVisit"><%= t('static.technology.visit') %> </div>

        <a href="/visit" class="knowMoreLink">
            <div class="knowMore"><%= t('static.technology.learn_more')%> <div class="arrowSmallRight"></div></div>
        </a>

        <div class="footerTechnology">
            <p class="UPPA">© UPPA by Pavel Shvets</p>
            <a href="http://redobureau.com" class="ourName">сделано в redo</a>
        </div>
    </div>

    <div id="/fakeScrollArea" class="grapeBush"></div>
</div>
