<% meta title: t('static.terra.main') %>
<div class="terraInnerWrapper">
    <a href="#" class="toTerroir"><%= t('static.terra.main') %></a>

    <div class="contentContainer">


        <p class="descriptionCommon"><%= t('static.terra.descriptionCommon_1')%> <br><br><br><br></p>

        <h2 class="headerCommon"><%= t('static.terra.cler_polati')%></h2>

        <div class="palatiPicture illustration"></div>

        <p class="descriptionCommon"><%= t('static.terra.descriptionCommon_2') %> </p>

        <table class="titleCommon table">
            <tbody><tr>
                <td class="tableRowName"><%= t('static.terra.area') %> </td>
                <td class="tableRowValue"><%= t('static.terra.area_sq') %></td>
            </tr>
            <tr>
                <td class="tableRowName"><%= t('static.terra.date_of_origin') %></td>
                <td class="tableRowValue"><%= t('static.terra.year') %></td>
            </tr>
        </tbody></table>

        <div class="titleCommon"> <%= t('static.terra.types_header')%> </div>
        <p class="descriptionCommon"> <%= t('static.terra.types') %></p>

        <div class="titleCommon"> <%= t('static.terra.ground_header') %> </div>
        <p class="descriptionCommon"> <%= t('static.terra.ground') %></p>

        <div class="titleCommon"> <%= t('static.terra.height_header')%> </div>
        <p class="descriptionCommon"> <%= t('static.terra.height') %></p>

        <div class="titleCommon"> <%= t('static.terra.sklon_header') %></div>
        <p class="descriptionCommon"> <%= t('static.terra.sklon') %></p>

        <div class="titleCommon"> <%= t('static.terra.rows_header') %></div>
        <p class="descriptionCommon"> <%= t('static.terra.rows') %></p>

        <div class="titleCommon"> <%= t('static.terra.density_header') %> </div>
        <p class="descriptionCommon"> <%= t('static.terra.density') %> </p>

        <div class="titleCommon"> <%= t('static.terra.scheme_header') %> </div>
        <p class="descriptionCommon"><%= t('static.terra.scheme') %></p>

        <div class="titleCommon"> <%= t('static.terra.forming_header') %> </div>
        <p class="descriptionCommon"> <%= t('static.terra.forming') %></p>

        <div class="titleCommon"> <%= t('static.terra.height_2_header')%> </div>
        <p class="descriptionCommon"> <%= t('static.terra.height_2') %> </p>

        <h2 class="headerCommon numullite"> <%= t('static.terra.cler_nummulite')%></h2>

        <div class="numullitePicture illustration"></div>

        <p class="descriptionCommon"> <%= t('static.terra.descriptionCommon_3') %></p>

        <p class="descriptionCommon"> <%= t('static.terra.descriptionCommon_4') %> </p>

        <table class="titleCommon table">
                   <tbody><tr>
                       <td class="tableRowName"><%= t('static.terra.area') %></td>
                       <td class="tableRowValue"><%= t('static.terra.area_sq_2') %></td>
                   </tr>
                   <tr>
                       <td class="tableRowName"><%= t('static.terra.date_of_origin') %></td>
                       <td class="tableRowValue"><%= t('static.terra.year_2') %></td>
                   </tr>
               </tbody></table>

               <div class="titleCommon"> <%= t('static.terra.types_header') %> </div>
               <p class="descriptionCommon"> <%= t('static.terra.types_2') %> </p>

               <div class="titleCommon"> <%= t('static.terra.ground_header') %> </div>
               <p class="descriptionCommon"> <%= t('static.terra.ground_2') %> </p>

               <div class="titleCommon"> <%= t('static.terra.height_header')%> </div>
               <p class="descriptionCommon"> <%= t('static.terra.height_3')%> </p>

               <div class="titleCommon"><%= t('static.terra.sklon_header') %> </div>
               <p class="descriptionCommon"> <%= t('static.terra.sklon_2')%> </p>

               <div class="titleCommon"><%= t('static.terra.rows_header') %> </div>
               <p class="descriptionCommon"> <%= t('static.terra.rows_2')%> </p>

               <div class="titleCommon"> <%= t('static.terra.density_header') %> </div>
               <p class="descriptionCommon"><%= t('static.terra.density_2') %></p>

               <div class="titleCommon"> <%= t('static.terra.scheme_header') %> </div>
               <p class="descriptionCommon"><%= t('static.terra.scheme_2') %></p>

               <div class="titleCommon"> <%= t('static.terra.forming_header') %> </div>
               <p class="descriptionCommon"> <%= t('static.terra.forming_2') %> </p>

               <div class="titleCommon"> <%= t('static.terra.height_2_header')%> </div>
               <p class="descriptionCommon"> <%= t('static.terra.height_4') %> </p>

        

        <div class="footerTerra">
            <p class="UPPA">© UPPA by Pavel Shvets</p>
            <a href="http://redobureau.com" class="ourName">сделано в redo</a>
        </div>
    </div>

    
    <div class="polatiNummulite">
        <div class="polatiBigPicture"></div>
        <div class="nummuliteBigPicture"></div>
    </div>
</div>
