<% meta title: t('static.visit.title') %>

<div class="visitInnerWrapper">
    <a href="#" class="organizeVisit"> <%= t('static.visit.main') %> </a>

    <h2 class="headerCommon"> <%= t('static.visit.headerCommon') %> </h2>

    <p class="descriptionCommon"> <%= t('static.visit.descriptionCommon_1') %></p>
    <p class="descriptionCommon"> <%= t('static.visit.descriptionCommon_2') %>
        <br><br> <%= t('static.visit.we_await_you')%></p>

    <div class="flipperWrapper">
        <div class="slickContainer">
            <button id="leftArrow" class="leftArrow sliderArrow"></button>
            <div id="slick-gallery" class="uppa-slick-theme">
                <div>
                    <%= image_tag("visit/guyAmongCans.jpg", alt: "Среди бочек") %>
                    <div class="slickTextContainer">
                        <h3> <%= t('static.visit.picture_1_header') %></h3>
                        <p> <%= t('static.visit.picture_1_desc')%></p>
                    </div>
                </div>
                <div>
                    <%= image_tag("visit/can.jpg", alt: "Бочка с вином") %>
                    <div class="slickTextContainer">
                        <h3> <%= t('static.visit.picture_2_header') %></h3>
                        <p> <%= t('static.visit.picture_2_desc')%></p>
                    </div>
                </div>
                <div>
                    <%= image_tag("visit/collectingGrape.jpg", alt: "Сбор винограда") %>
                    <div class="slickTextContainer">
                        <h3> <%= t('static.visit.picture_3_header') %></h3>
                        <p> <%= t('static.visit.picture_3_desc')%></p>
                    </div>
                </div>
                <div>
                    <%= image_tag("about/pavel.jpg", alt: "Павел Швец") %>
                    <div class="slickTextContainer">
                        <h3> <%= t('static.visit.picture_4_header') %></h3>
                        <p> <%= t('static.visit.picture_4_desc')%></p>
                    </div>
                </div>
            </div>
            <button id="rightArrow" class="rightArrow sliderArrow"></button>
        </div>

        <div class="visitButtonsContainer">
            <a href="mailto:info@uppawine.com"><div class="sendRequest buttonVisit"> <%= t('static.visit.send_request') %> <div class="arrowSmallRight"></div></div></a>
            <a href="/contacts"><div class="goToContacts buttonVisit"> <%= t('static.visit.contacts') %> <div class="arrowSmallRight"></div></div></a>
        </div>
    </div>

    <div class="footerVisit">
        <p class="UPPA">© UPPA by Pavel Shvets</p>
        <a href="http://redobureau.com" class="ourName">сделано в redo</a>
    </div>

</div>
